// Footer
br
.container-fluid(style='background: #000; color: #fff;position: fixed; bottom:0;width:100%;')
  p.text-center(style='padding: 15px 0; margin: 0px;')
    | @ 2019 | Designed & Developed by Pawan The Great.
