.col-md-3.col-sm-3
    .main-block1(style="box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);padding:10px 5px;")
        img.img-responsive.block-img(src="images/2.png", alt="logo" style="padding:10px 20px;")
        //- br
        //- accordion
        button.accordion Services
        .panel.list-group
            a.list-group-item(href='/pnr-status') PNR Status
            a.list-group-item(href='/seat-availability') Seat availability
            a.list-group-item(href='/fare-enquiry') Train Fare Enquiry
            a.list-group-item(href='/train-between-stations') Train Between Stations
            a.list-group-item(href='/live-train-status') Live Train Status
        button.accordion Information
        .panel.list-group
            a.list-group-item(href='#') Train Route
            a.list-group-item(href='#') Train Arrivals
            a.list-group-item(href='#') Cancelled Trains
            a.list-group-item(href='#') Rescheduled Trains
            //- a.list-group-item(href='#') Train Name/Number
            //- a.list-group-item(href='#') Station Name to Code
            //- a.list-group-item(href='#') Station Code to Name
            //- a.list-group-item(href='#') Station Autocomplete Suggest
            //- a.list-group-item(href='#') Train Autocomplete Suggest
